@using ThirdPartyApiCaller.Models;

@model WeatherApp.Models.WeeklyForecastModel;
@{
    ViewData["Title"] = "Index";
}

<form method="post" asp-action="Index">
    CURRENT LOCATION: @Model.CurrentLocation.City, @Model.CurrentLocation.RegionName @Model.CurrentLocation.Country @Model.CurrentLocation.ZipCode Coordinates(@Model.CurrentLocation.Latitude, @Model.CurrentLocation.Longitude)
    <br />
    <br />
    Forecast for Zipcode @Model.DisplayedZip:
    <table>
        <thead>
            <tr>
                <th scope="col" align="center">Date</th>
                <th scope="col" align="center">High Temp</th>
                <th scope="col" align="center">Low Temp</th>
                <th scope="col" align="center">Chance of Precip</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Day day in Model.WeekForcast.Days)
            {
                <tr>
                    <td align="center">@day.Date</td>
                    <td align="center">@day.MaxTemp</td>
                    <td align="center">@day.MinTemp</td>
                    <td align="center">@day.PrecipChance</td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <div class="form-group">
        <input asp-for="SearchZip" placeholder="Zip Code" />
        <button type="submit">Search</button>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="SearchHistory">Search History</label>
        <select asp-for="SearchZipHistory" asp-items="Model.SearchHistoryItems"></select>
        <button type="submit">Search</button>
    </div>
</form>