@using ThirdPartyApiCaller.Models;

@model WeatherApp.Models.WeeklyForecastModel;
@{
    ViewData["Title"] = "Index";
}

<form method="post" asp-action="Index">
    <section class="home-banner-area relative">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-8 col-md-12">
                    <h1>We Have the Best Weather<br> on the Web</h1>
                    <p class="text-white">
                        Just type your Zip Code in the box below or scoll down to see the latest weather report.
                    </p>
                    <div class="input-wrap">
                        <input asp-for="SearchZip" placeholder="Zip Code" class="form-control" />
                        <button type="submit" class="btn search-btn">Search</button>
                    </div>
                    <h4 class="text-white">Recent Searches</h4>
                    <div class="form-group input-wrap">
                        <select asp-for="SearchZipHistory" asp-items="Model.SearchHistoryItems"  style="width:100%"></select>
                        <button type="submit" class="btn search-btn">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="rocket-img">
            <img src="img/rocket.png" alt="">
        </div>
    </section>

    CURRENT LOCATION: @Model.CurrentLocation.City, @Model.CurrentLocation.RegionName @Model.CurrentLocation.Country @Model.CurrentLocation.ZipCode Coordinates(@Model.CurrentLocation.Latitude, @Model.CurrentLocation.Longitude)
    <br />
    <br />
    Forecast for Zipcode @Model.DisplayedZip:
    <table>
        <thead>
            <tr>
                <th scope="col" align="center">Date</th>
                <th scope="col" align="center">High Temp</th>
                <th scope="col" align="center">Low Temp</th>
                <th scope="col" align="center">Chance of Precip</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Day day in Model.WeekForcast.Days)
            {
                <tr>
                    <td align="center">@day.Date</td>
                    <td align="center">@day.MaxTemp</td>
                    <td align="center">@day.MinTemp</td>
                    <td align="center">@day.PrecipChance</td>
                </tr>
            }
        </tbody>
    </table>

    <br />
</form>